.e-schedule{
    border: none;
    .e-schedule-table {
        .e-time-cells{
            padding: 20px;
            border: none !important;
        }
    }
    .e-schedule-table .e-content-table{
        thead{    
            td{
                border-bottom:1px solid rgba(0, 0, 0, 0.12);
            }   
        }     
        td{
            padding: 22px;
        }
    }
}

.e-appointment{
    background-color: transparent !important;
    z-index: 2;
    .e-appointment-details{
        height: 100%;
        div{
            height: 100%;
            .eventTemplate{         
                color: black;
                padding-left: 5%;
                padding-right: 5%;
                width: 94%;
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &::after{
                    content: '';
                    height: 100%;
                    width: 5px;
                    position: absolute;
                    left: 0;
                    background-color: $greyBackground;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3{
                        margin: 0;
                        font-weight: 500;
                    }
                    p{
                        font-size: 15px;
                        color: $greyBackground;   
                        margin: 0;
                    }
                }
                button{
                    border: none;
                    background-color: $greyBackground;
                    color: white;
                    padding: 3px 5px;
                    transition: .3s;
                    &:hover{
                        background-color: $font_grey_color;
                        cursor: pointer;
                    }
                }
            }
        }   
    }
}
@media only screen and (max-width: $mobile-breakpoint) {
    .e-control{
        width: 100% !important;          
    }
    .e-schedule .e-schedule-table .e-time-cells {   
        padding: 17px 0px;
    } 
     
    .e-schedule .e-schedule-table .e-content-table td{
        padding: 19px;
    } 
}
