.e-schedule{
    border: none;
    .e-schedule-table {
        .e-time-cells{
            padding: 20px;
            border: none !important;
        }
    }
    .e-schedule-table .e-content-table{
        thead{
            tr{
                td{
                    border-bottom:1px solid rgba(0, 0, 0, 0.12);
                }
            }
        }
        
        td{
            padding: 22px;
        }
    }
}

.e-appointment{
    background-color: transparent !important;

    .e-appointment-details{
        height: 100%;
        div{
            height: 100%;
            .eventTemplate{         
                color: black;
                margin-left: 0.5%;
                padding-left: 5%;
                padding-right: 5%;
                width: 94%;
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    border: none;
                    background-color: $greyBackground;
                    color: white;
                    padding: 5px;
                    transition: .3s;
                    &:hover{
                        background-color: $font_grey_color;
                        cursor: pointer;
                    }
                }
            }
        }   
    }
}
