@import "./variables";
@import "./calendarStyle";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Varela+Round&display=swap');


body{
    background-color: white;
    color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}